@model IList<AWWW_Kol1.Models.Category>

<h1>@ViewBag.Title</h1>
<div>
	<a asp-controller="Category" asp-action="Dodaj"><button>Dodaj kategorie</button></a>
</div>
<div>
	<tr>
		<th>CategoryId</th>
		<th>Name</th>
	</tr>
	@if(@Model!= null)
	{
		@foreach(var category in @Model)
		{
			<tr>
				<br />
				<td>@category.CategoryId</td>
				<td>@category.Name</td>
			</tr>
		}
	}
	
</div>